.info {
    background-color: lightyellow;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid goldenrod;
}

.warning {
    background-color: lightsalmon;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid salmon;
}

:not(code):not(pre):not(span) {
    font-family: sans-serif;
}

ol {
    list-style-type: disc;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}